{
  "presets": [
    [
      "@babel/env",
      {
        "targets": ["last 2 versions"]
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
